@model Proekt2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<html>
<head>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        header, footer {
            display: none;
        }

        .topbar {
            display: none;
        }

        .footer-dark {
            display: none;
        }

        #loginForm {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .btn-primary {
            color: #fff;
            background-color: #128FC8;
            border-color: #128FC8;
        }

        .bottom_right {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
    </style>
</head>

<body>
    <div id="loginForm">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Register</h2>
            </div>

            <div class="col-12">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />
                    <p>Create a new account.</p>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control w-100 mb-3", placeholder = "Email" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control w-100 mb-3", placeholder = "Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control w-100", placeholder = "Confirm password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" class="btn btn-primary mt-3 py-2 px-4 me-3 w-100" value="Register" />
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-center mt-3">
                        <p class="mb-0 me-2">Already have an account?</p>
                        @Html.ActionLink("Login here", "Login", new { }, new { @class = "btn btn-primary py-2 px-4 me-3" })
                    </div>
                }
            </div>
        </div>


    </div>


    <div class="bottom_right">
        @Html.ActionLink("Back to the main page", "Index", "Home", new { }, new { @class = "btn btn-primary mt-3 py-2 px-4 w-100" })
    </div>
</body>
</html>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
